.Page-bar {
  @apply flex justify-start items-center pt-[10px] pb-[0] sm:py-[10px] px-[10px] sm:px-0;
  }
  .Product-wrapper{
    @apply flex justify-between items-center flex-wrap bg-white my-[20px] p-[10px] shadow;
  }
  .Product-image{
    @apply w-full sm:w-[40%];
  }
  .Product-description{
    @apply w-full sm:w-[60%];
  }
  .Product-tittle{
    @apply text-[32px] mb-3;
  }
  .product-info-table tbody {
    @apply flex flex-wrap;
  }
  .product-info-table tbody tr {
    @apply leading-[30px] text-[14px];
  }
  .product-info-table tbody tr {
    @apply mt-0 mr-[7px] mb-[7px] -ml-[2px] bg-[rgba(55,73,187,.05)] rounded-[30px] leading-[30px] py-[0] px-[10px] text-[14px];
  }
  .product-info-table tbody tr .product-info-label {
    @apply text-[#666];
  }
  .product-info-table tbody tr .product-info-label::after {
    content: ":";
  }
  .product-info-table tbody tr .product-info-data {
    @apply font-bold text-[14px];
  }
  .Specification li{
    @apply pb-[10px] text-[16px];
  }
  .View-more{
    @apply text-primary underline hover:text-[#000] cursor-pointer;
  }

  .Payment-choice{
    @apply w-full flex justify-between flex-wrap mt-[15px];
  }
  .Onetime-purchase,.Monthly-base{
    @apply w-full sm:w-1/2;
  }
  .Onetime-purchase, .Monthly-base {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .p-wrap {
    flex: 1 1 auto;
    border: 2px solid #edf2f5;
    position: relative;
    padding: 15px 15px 15px 55px;
    box-shadow: 40px 0 0 #fafafa inset;
    cursor: pointer;
  }

  .p-wrap.cash-payment {
    margin-right: 15px;
  }
  .p-wrap.active {
    border: 2px solid #3749bb;
  }
  .p-wrap input {
    position: absolute;
    height: 20px;
    left: 12px;
    top: 50%;
    margin-top: -10px;
    transform: scale(1.5);
    cursor: pointer;
  }
  input[type="radio"], input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  input, select, textarea {
    font-size: 15px;
    height: 42px;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    width: 100%;
    font-family: "Trebuchet MS",sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .p-wrap .price {
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  .p-wrap .p-tag {
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
  }
  .p-wrap .p-tag {
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
  }
  .fade {
    color: #666;
    font-size: 13px;
  }
  .Monthly-base .p-wrap{
    @apply border-0;
  }
  .Buy-now {
    display: flex;
    gap: 40px;
  }
  
  .Counter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    cursor: pointer;
  }
  .Decrement, .Increment {
    width: 60px;
    border: 1px solid #c4c4c4;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Set-counter {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    border-radius: unset;
    border: 1px solid #c4c4c4;
  }
  .h-fixed{
    @apply h-[40px];
  }

  /* Prodescription components*/

  .Nav {
    @apply flex gap-[5px] sm:gap-[20px] mb-[20px] flex-wrap;
  }
  .Nav li {
    @apply bg-white shadow p-[5px] sm:p-[10px] rounded;
  }
  .Nav li:first-child {
    @apply bg-primary text-white font-semibold;
  }
  #specification{
    @apply bg-white p-[20px] shadow;
  }
  .heading-row{
    @apply bg-[rgba(55,73,187,.05)] py-[10px] pl-[20px];
  }
  .Data-table{
    @apply w-full;
  }
  #specification h2 {
    @apply text-[25px] py-[15px] font-semibold;
  }
  .Data-separate {
    @apply grid sm:flex p-[10px] items-center border-b-[2px] border-b-[aliceblue];
  }
  .name {
    @apply w-full pb-2 sm:pb-0 sm:w-[30%];
  }