@tailwind base;
@tailwind components;
@tailwind utilities;
body{
   @apply bg-white;
}
.Container{
    @apply max-w-6xl block mx-auto sm:px-2;
}
.Paragraph{
    @apply text-base text-[#606060] text-justify;
}

.App-header{
    @apply w-full h-14 sm:h-[5rem] flex justify-between items-center;
}
.Topbar-bg{
    @apply bg-white py-3 sm:py-0 shadow-sm;
}
.Top-bar{
    @apply h-12 flex justify-between flex-wrap items-center;
}
.Store-details{
    @apply w-full sm:w-1/2 flex;
}
.Store-acc{
    @apply w-full sm:w-1/2 flex justify-start sm:justify-end mt-2 sm:mt-0;
}
.Language{
    @apply w-1/2 sm:w-24 flex justify-start px-2 sm:px-0 items-center;
}
.Select{
    @apply bg-transparent cursor-pointer -mt-[2px] py-[5px] ml-[3px] w-[unset] h-[unset] border-0;
}
.Location{
    @apply w-1/2 sm:w-40 ml-4 pr-2 sm:pr-0 flex justify-end;
}
.Location span{
    @apply flex justify-end sm:justify-start;
}

.Acc-wrap{
    @apply w-full justify-between sm:w-[250px] flex sm:justify-end px-2 sm:px-0;
}
.Acc-wrap span{
    @apply flex;
}
.Acc-wrap span a{
    @apply flex items-center;
}
.Nav-item{
    @apply px-4 text-lg font-semibold text-black hover:text-primary cursor-pointer;
}
.active{
    @apply text-primary;
}
/* Header Top Button */
.Btn-red{
    @apply bg-primary px-6 h-12 text-[15px] sm:text-lg text-white shadow rounded-sm;
}
/* Button Display Condition */
.Display-condition{
    @apply hidden md:block;
}
.Header-text{
    @apply text-2xl sm:text-4xl text-primary font-bold py-4 font-display antialiased;
}
.Sub-heading{
    @apply text-gray-500 text-base;
}
.Header-para{
    @apply text-[#606060] text-base;
}
/* Hero Section */
.Hero-section{
    @apply  px-6 lg:px-4 w-full flex justify-between items-center flex-col md:flex-row;
}

.mb-menu{
    @apply absolute right-1 w-full top-24 py-3 sm:hidden mt-6 bg-white text-primary;
}
/* Feature Section */
.Feature{
    @apply px-6 lg:px-4 sm:px-1 flex justify-between gap-5 flex-col md:flex-row;
}
.Feature-heading{
    @apply text-2xl sm:text-4xl text-black font-bold py-4 font-display antialiased;
}
.List-heading{
    @apply w-10/12 text-lg md:text-2xl font-bold text-center lg:text-left inline pl-3;
}
.Btn-list{
    @apply bg-primary w-12 h-12 text-lg text-white shadow-xl rounded-sm;
}

/* Promotion Section */

.Promotion{
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 px-6 lg:px-4;
}
.Shape-mark{
    @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block;
  }
  .Subscription{
    @apply bg-white hover:bg-primary hover:text-white w-28 h-11 text-lg text-black shadow-lg rounded cursor-pointer ml-1 mt-3 sm:mt-0;
  }
  .Promotion-header{
    @apply text-3xl md:text-6xl text-white font-bold;
  }

/* Grid Gallery Section */
.GridGallery{
    @apply flex flex-col sm:flex-row md:space-x-2 gap-4 justify-between items-center my-12;
}
.Grid-item{
    @apply w-full md:w-1/4 shadow-lg p-3 text-center;
}
.Grid-img{
    @apply h-40 w-full shadow transition-all cursor-pointer sm:hover:-translate-y-10;
}
.Grid-heading{
    @apply block text-lg text-gray-600 font-semibold py-2;
}
.Grid-paragraph{
    @apply text-base text-[#606060];
}

/* About Us Page */
.Team-wrapper{
    @apply flex justify-between items-center flex-col sm:flex-row flex-wrap mt-12 mb-[120px] mx-3 sm:mx-0;
}
.Section-title{
    @apply h-[200px] mb-[140px] text-center;
}
.Team-member{
    @apply relative w-[100%] sm:w-[30%] h-[260px];
    transition: .2s ease-in-out;
}
.Thumbnail{
    @apply w-[100%] h-[260px] bg-[#fefefe] rounded-lg relative shadow-md;
}
.Thumbnail img{
    @apply absolute bottom-0 left-[50%] transform -translate-x-[50%] -translate-y-[0%]
}
.Details{
    @apply invisible absolute bottom-0 p-[10px] text-white;
    visibility: hidden;
    transform: translateY(20px);
    transition: all .3s ease-in-out;
}
.Team-member:hover .Details{
    visibility: visible;
    cursor: pointer;
    background: rgba(8, 8, 8, 0.15);
    box-shadow: 0 8px 32px 0 rgba(36, 41, 99, 0.37);
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transform: translateY(0);
}
.Details h4{
    @apply font-bold text-[20px];
}
.Details h5{
    @apply font-bold text-[16px];
}

/* Modal */
.Overlay{
    @apply fixed bg-[#0009] left-0 right-0 top-0 bottom-0 w-full h-screen flex justify-center items-center z-10;
}
.Modal-container{
    @apply w-[600px] h-[300px] bg-white flex;
}
.Modal-container img{
    @apply w-1/2 h-[100%] object-cover;
}
.Content-wrapper{
    @apply w-1/2 p-3 relative;
}
.Close-icon{
    @apply float-right text-[20px] font-semibold cursor-pointer;
}
.Modal-right{
    @apply absolute w-[calc(100%-20px)] h-[calc(100%-80px)] mt-[60px] text-center;
}
.Modal-head{
    @apply font-bold text-[32px] uppercase;
}
.Email{
    @apply border focus:outline-none w-full h-10 pl-3 my-2;
}
.Submit{
    @apply border-none bg-primary text-white font-bold uppercase w-[calc(100%-50%)] h-12 rounded-sm shadow hover:bg-[green];
}
/* Service page Service Support Component */
.Support-wrapper{
    @apply flex justify-between flex-wrap flex-col sm:flex-row;
}
.Support-item{
    @apply w-full sm:w-1/2 md:w-1/3 text-center px-7 py-4 sm:py-12;
}
.Support-item img{
    @apply block mx-auto pb-3;
}
.Support-details h4{
    @apply text-[18px] font-bold py-3;
}
/* Service page Pricing Component */
.Pricing-wrapper{
    @apply flex justify-between flex-wrap flex-col sm:flex-row my-10 gap-10 px-5 sm:px-0;
}
.Price-item{
    @apply w-full sm:w-[47%] md:w-[30%] text-center bg-white shadow-lg hover:shadow-2xl;
}
.Price-item:hover button{
    background-color: green;
    color: #fff;
    border: none;
}
.Price-header{
    @apply w-full py-10 bg-[#00BAF1];
}
.Price-amount{
    @apply py-5;
}
.Price-amount span{
    @apply text-[60px] font-bold text-primary;
}
.Price-title{
    @apply text-[1.8rem] text-white font-bold uppercase;
}
.Price-body{
    @apply pt-4;
}
.Package-details ul li{
    @apply py-3;
}
.Order-button{
    @apply my-5;
}
.Order-button button{
    @apply border rounded shadow px-5 py-3 border-primary;
}
.Order-button button:hover{
    animation-name: animation-wobble-skew;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes animation-wobble-skew {
    16.65% {
        transform: skew(-12deg);
      }
      33.3% {
        transform: skew(10deg);
      }
      49.95% {
        transform: skew(-6deg);
      }
      66.6% {
        transform: skew(4deg);
      }
      83.25% {
        transform: skew(-2deg);
      }
      100% {
        transform: skew(0);
      }
      
}


/* Buy Now Cart Modal */
.Cart-container {
    @apply max-w-[600px] bg-white shadow p-[10px] h-[300px] sm:h-[250px] relative;
  }

.Content-show {
    width: 100%;
    padding: 10px;
  }
  .Cart-wrappers {
    width: calc(100% - 20px);
    margin-top: 30px;
    display: flex;
  }
  .cart-info {
    flex: 0 0 180px;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    position: relative;
    z-index: 10;
  }
  .cart-quantity {
    border-bottom: 1px solid #797979;
    margin-bottom: 10px;
}
.cart-quantity {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }
  .cart-info > span {
    padding: 0 0 5px;
    display: flex;
    justify-content: space-between;
    color: #888;
    font-size: 14px;
    line-height: 20px;
  }
  .cart-info > span > span {
    font-weight: bold;
    color: #111;
    font-size: 15px;
  }

  .Button-wrap {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
  }

/* Cart Page */

.Cart-wrapper{
    @apply bg-white shadow rounded p-[10px];
}
.Cart-table{
    @apply w-full;
}
.Cart-table thead td {
    @apply px-[10px] py-[14px] text-[#666] text-[13px] font-[600] bg-[#f5f7f9] text-left border-r-2 border-white;
  }
  .Total-cart {
    @apply mt-5 flex justify-end;
}
.Cart-total {
    @apply w-[200px];
  }
table.Cart-total td {
    @apply text-[18px];
}
.Cart-total tbody td {
    @apply py-[12px] px-[10px] border-b-[1px] border-[#eee];
}

.Cart-total td.amount {
    @apply font-bold text-primary text-right;
  }
  /* Checkioutpage */

  .Checkout-wrapper {
    @apply flex flex-wrap justify-between p-[10px] sm:p-0;
  }
  .Customer-info {
    @apply w-full sm:w-[35%] p-[20px] bg-white rounded shadow-sm;
}
.Customer-details{
    @apply w-full sm:w-[62%] rounded shadow-sm;
}
.Card-delivery {
    @apply w-full flex flex-wrap gap-[5px] sm:gap-[30px] h-fit mt-7 sm:mt-0;
  }
  .Order-overview {
    @apply bg-white mt-[20px] rounded shadow-sm p-[20px];
  }
  .checkout-final-action {
    @apply p-5 sm:p-0 justify-center sm:justify-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #d6d6d6;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .checkout-final-action .agree-text {
    flex: 1 1 auto;
    position: relative;
    padding-left: 30px;
  }
  .checkout-final-action .agree-text input {
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
  }
  #button-confirm {
    @apply mt-3 sm:mt-0;
}



@media (min-width: 640px) and (max-width:1003px){
.Card-delivery {
  gap: 10px !important;
}
.Extra-pad{
    @apply pt-[.8rem];
}
}